.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-req{
        margin-bottom: 1.5rem;
    }
    &__input-wrapper{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        transform-origin: top;
        transition: all .2s;
    }
    &__label{
        width: 15rem;
    }
    &__input{
        padding: .5rem;
        border-radius: 4px;
        border: 1px solid $color-grey-light-3;
        transition: all .4s;
    }
    &__input:active,
    &__input:focus{
        border: 1px solid $color-primary;
    }
    &__textarea{
        margin-bottom: 1rem;
        align-self: stretch;
    }
    &__border{
        border: 1px solid $color-grey-light-2;
        width: 100%;
        margin-bottom: 3rem;
        padding: 1rem 1rem 0 1rem;
        box-sizing: border-box;
        &--p{
            padding: 1rem;
        }
    }
}