.lang-selector{
    position: relative;
    cursor: pointer;
    &__selected {
        & div {
            transition: all .2s;
        }
        img{
            height: 1.8rem;
            margin-bottom: -.3rem
        }
    }
    &__uk, &__ger, &__esp{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    &__selected:hover + &__picker,
    &__picker:hover {
        transform: scaleY(1);
    }
    &__picker{
        position: absolute;
        z-index: 20;
        top: calc(100% + .2rem);
        left: -.5rem;
        background-color: $color-white;  
        border-bottom: 6px solid $color-primary;
        transform-origin: top;
        transform: scaleY(0);
        transition: all .2s;
    }  
    &__checkbox{
        display: none;
    }
    &__box{
        background-color: $color-white;
        padding-bottom: .6rem;
        transition: all .2s;
        img{
            height: 1.8rem;
            margin: 0;
            padding: .5rem;
            margin-bottom: -1.1rem;
        }
    }
    &__box:hover {
        background-color: $color-grey-light-3;
    }
}
.lang-checked {
    opacity: 1 !important;
}