.product-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    position: relative;
    max-width: 20rem;
    overflow: hidden;

    &__link{
        position: relative;
        z-index: 50;
        text-decoration: none;
    }
    &__rating{
        position: absolute;
        width: 100%;
        height: 12%;
        background-color: rgba($color-grey-dark-1,.2);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 40;
        transform-origin: top;
        transform: scaleY(0);
        transition: all .2s;
        i {
            color: $color-yellow;  
        }
    }    
    &__link:hover &__rating {
        transform: scaleY(1);
    }
    &__link:hover &__img-container &__img--2 {
        opacity: 1;
    }
    &__link:hover .btn__add-cart {
        color: $color-white;
        border: none;
        border-radius: 0;
        background-color: $color-primary;
    }
    &__img-container{
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-top: -20%;
    }
    &__img{
        display: block;
        width: 100%;
        &--1{
            z-index: 30;
        }
        &--2{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: all .3s;
        }
    }
    &__info{
        position: relative;
        z-index: 40;
        margin-top: -20%;
        background-color: $color-white;
    }
    &__name,
    &__price {
        text-align: center;
        color: $color-grey-dark-2;
        font-family: $font-family-heading;
        font-weight: bold;
    }
    &__name{
        font-size: 1.4rem;
        padding-top: 1rem;
    }
    &__price{
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
    &__cart-link {
        // display: none if cart is empty
        color: $color-grey-dark-3;
        text-decoration: none;
        text-align: center;
        font-size: 1.3rem;
        padding: 1.4rem 0;
        &:hover {
            color: $color-primary;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr minmax( min-content, 20rem) 1fr;
        
    }
}