.u-margin-bottom-zero { margin-bottom: 0; }
.u-margin-bottom-small { margin-bottom: 3rem; }
.u-margin-bottom-medium { margin-bottom: 6rem; }
.u-margin-bottom-large { margin-bottom: 8rem; }

.u-margin-top-zero { margin-top: 0;}
.u-margin-top-small { margin-top: 3rem; }
.u-margin-top-medium { margin-top: 6rem; }
.u-margin-top-large { margin-top: 8rem; }

.u-margin-left-zero { margin-left: 0;}
.u-margin-left-small { margin-left: 3rem; }
.u-margin-left-medium { margin-left: 6rem; }
.u-margin-left-large { margin-left: 8rem; }

.u-margin-right-zero { margin-right:  0;}
.u-margin-right-small { margin-right: 3rem; }
.u-margin-right-medium { margin-right: 6rem; }
.u-margin-right-large { margin-right: 8rem; }

.u-padding-bottom-zero { padding-bottom: 0;}
.u-padding-bottom-small { padding-bottom: 3rem; }
.u-padding-bottom-medium { padding-bottom: 6rem; }
.u-padding-bottom-large { padding-bottom: 8rem; }

.u-padding-top-zero { padding-top: 0;}
.u-padding-top-small { padding-top: 3rem; }
.u-padding-top-medium { padding-top: 6rem; }
.u-padding-top-large { padding-top: 8rem; }

.u-padding-left-zero { padding-left: 0;}
.u-padding-left-small { padding-left: 3rem; }
.u-padding-left-medium { padding-left: 6rem; }
.u-padding-left-large { padding-left: 8rem; }

.u-padding-right-zero { padding-right: 0;}
.u-padding-right-small { padding-right: 3rem; }
.u-padding-right-medium { padding-right: 6rem; }
.u-padding-right-large { padding-right: 8rem; }

.u-border-radius-zero { border-radius: 0;}
.u-border-radius-small { border-radius: 2rem; }
.u-border-radius-medium { border-radius: 5rem; }
.u-border-radius-large { border-radius: 10rem; }

.u-flex-3-item {flex: 1 0 25%; }


