$images-path: '/assets/img';


//Fonts-family
$font-family-primary: "Open Sans", sans-serif;
$font-family-heading: 'Nunito', serif;


//colors
$color-primary: #DD3333;
$color-secondary: #912121;
$color-tertiary: #DE8833;

$color-grey: #333333;
$color-grey-dark-1: #121212;
$color-grey-dark-2: #212121;
$color-grey-dark-3: #373737;
$color-grey-light-1: #525252;
$color-grey-light-2: #A8A8A8;
$color-grey-light-3: #cecece;

$color-white: #FFF;
$color-yellow: #FC0;
$color-red: #dd3333;



//slider
$slick-opacity-default: .8;
$slick-opacity-on-hover: .9;
$slick-opacity-not-active: .5;
$slick-font-family: "Lato" "Sans serif";

$slick-prev-character:"<";
$slick-next-character:">";